.mt-
  &xs
    margin-top: 4px
  &s
    margin-top: 8px
  &m
    margin-top: 16px
  &l
    margin-top: 24px
  &xl
    margin-top: 32px
  &xxl
    margin-top: 64px
.mb-
  &xs
    margin-bottom: 4px
  &s
    margin-bottom: 8px
  &m
    margin-bottom: 16px
  &l
    margin-bottom: 24px
  &xl
    margin-bottom: 32px
  &xxl
    margin-bottom: 64px
.mr-
  &xs
    margin-right: 4px
  &s
    margin-right: 8px
  &m
    margin-right: 16px
  &l
    margin-right: 24px
  &xl
    margin-right: 32px
  &xxl
    margin-right: 64px
ul
  padding-left: 0px !important

.ml-
  &xs
    margin-left: 4px
  &s
    margin-left: 8px
  &m
    margin-left: 16px
  &l
    margin-left: 24px
  &xl
    margin-left: 32px
  &xxl
    margin-left: 64px
.flex-p
  &-c
    display: flex
    justify-content: center
